/* Conoce a Carla */

.yo {
  font-size: 20px;
  border-style: solid;
  border-color: rgb(150, 213, 241);
  padding: 10px;
  margin: $margin;
  color: $color-blanco;
}

.conoceme {
  background: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.7)), url(../imagen/verduras.webp);
  background-size: $background-size;
  opacity: $opacity;
  padding: $padding;
  margin: $margin ;
}