/* Preg. Frecuentes */

.cuadro1 {
  text-align: $text-align;
}

.cuadro2 {
  text-align: $text-align;
  background: radial-gradient(ellipse 250px 100px, #a875ac, #b66450);
  opacity: 0.9;
}

.cuadro3 {
  text-align: $text-align;
}

.enviar,
.borrar {
  background-image: $background-image;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  color: $color-blanco ;
  cursor: $cursor;

  &:active {
    transform: translateY(5px);
  }
}

.pregfr {
  background: linear-gradient(rgba(5, 7, 12, 0.05), rgba(5, 7, 12, 0.1)), url(../imagen/fondoagua.jpg);
  background-size: 100%;
  opacity: 0.9;
  padding: auto;
  margin: $margin ;
}

@keyframes pFrec {
  0% {
    transform: rotate(0%);
  }

  100% {
    transform: rotate(100%);
  }
}

.pFrec {
  animation-name: pFrec;
  animation-duration: $animation-duration;
  animation-iteration-count: $animation-iteration-count;
}